<div class="row" ng-show="Variants.length == 0">
    <loadingindicator ng-show="loadingProductsIndicator" title="{{'Please wait while we fetch all products' | r}}"/>
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-xs-6 text-center" ng-repeat="product in products">
                <div class="alert" ng-class="{'alert-info': product.Selected, 'alert-default': !product.Selected}">
                    <div class="row">
                        <div class="col-sm-6">
                            <figure ng-show="product.SmallImageUrl">
                                <img style="margin: auto;" ng-src="{{product.SmallImageUrl}}" />
                            </figure>
                            <div class="empty" ng-show="!product.SmallImageUrl">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="panel-body">
                                <h3>{{product.Name}}</h3>
                                <p class="text-info">{{product.ExternalID}}</p>
                                <p ng-bind-html="trustedDescription(product)" ng-show="product.Description" />
                            </div>
                            <section class="panel-body">
                                <p ng-show="product.StandardPriceSchedule.PriceSchedule.PriceBreaks[0]" ng-if="!(user.Permissions.contains('HidePricing'))">
                                    {{product.StandardPriceSchedule..PriceBreaks[0].Quantity}}
                                    <span ng-show="product.QuantityMultiplier > 1">(x {{product.QuantityMultiplier}})</span>
                                    {{'for'}} {{product.StandardPriceSchedule.PriceBreaks[0].Price}}
                                </p>
                                <p ng-show="product.UnitOfMeasure">
                                    {{'Unit of Measure' | r}}: {{product.UnitOfMeasure}}
                                </p>

                                <p ng-show="product.DisplayInventory && inventoryDisplay(LineItem.Product, LineItem.Variant) != undefined">
                                    {{'Quantity Available' | r}}: {{product.QuantityAvailable}}
                                </p>
                                <div class="btn btn-default" ng-click="selectProduct(product)">
                                    {{product.Selected ? 'Unselect' : 'Select' | r}} {{'Product' | r}}
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:10px;">
            <div ng-show="ABProductSelected">
                <div ng-include="'partials/18421AB.html'"></div>
            </div>
            <div ng-show="CDProductSelected">
                <div ng-include="'partials/18421CD.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="Variants.length > 0">
    <div class="col-sm-6">
        <loadingindicator ng-show="loadingImage" />
        <figure>
            <img style="margin: 0 auto;" ng-src="{{Variants[previewIndex].PreviewUrl}}" alt="Preview Image" title="Preview" imageonload/>
        </figure>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div ng-repeat="variant in Variants | orderBy:Product.ExternalID" class="col-sm-6 col-md-4 col-lg-3">
                <div class="variant-badge">
                    <b>{{variant.Product.ExternalID}} - {{variant.Product.Name}}</b>
                    <p style="cursor: pointer;" ng-click="changePreview($index)"><i class="fa fa-eye"></i> Preview</p>
                    <p style="cursor: pointer;"><a ng-href="{{variant.ProofUrl}}" target="_blank"><i class="fa fa-download"></i> Download Proof</a></p>
                    <div>
                        <customtextfield customfield="variant.Specs['Tracker Number']"></customtextfield>
                    </div>
                    <div class="text-center text-info"><small>QUANTITY<span ng-show="LineItem.Product.InventoryEnabled"> AVAILABLE: {{LineItem.Product.QuantityAvailable}}</span></small></div>
                </div>
                <div class="view-form-icon" style="margin-bottom: 10px;">
                    <quantityfield required="true" lineitem="variant" class="quantity"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar-fixed-bottom">
    <div class="view-response-message alert-danger text-center" ng-show="errorMessages.length > 0 && selectedProducts.length > 0">
        <p ng-repeat="msg in errorMessages">{{msg}}</p>
    </div>
    <ul ng-show="selectedProducts.length > 0 && Variants.length == 0">
        <li style="width: 100%;">
            <button class="btn btn-success" ng-click="createVariants()">
                <loadingindicator  ng-show="createVariantsIndicator" />
                <span>{{'Save and Preview' | r}} {{window.outerWidth}}</span>
            </button>
        </li>
    </ul>
    <ul ng-show="selectedProducts.length > 0 && Variants.length > 0">
        <li style="width: 50%">
            <button class="btn btn-info" ng-click="editVariants()"><small>{{'Edit' | r}}</small></button>
        </li>
        <li style="width: 50%">
            <button class="btn btn-success" ng-click="addToOrder()" ng-show="Variants.length > 0">
                <loadingindicator  ng-show="addToOrderIndicator" />
                <span>{{'Add to Order' | r}} {{window.outerWidth}}</span>
            </button>
        </li>
    </ul>
</div>
