<section class="specform-default">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <customtextfield customfield="ABSpecs.Name"></customtextfield>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <customselectionfield customfield="ABSpecs.PhoneLabel1"></customselectionfield>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <customtextfield mask="999.999.9999" customfield="ABSpecs.Phone1"></customtextfield>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <customselectionfield customfield="ABSpecs.PhoneLabel2"></customselectionfield>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <customtextfield mask="999.999.9999" customfield="ABSpecs.Phone2"></customtextfield>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-show="ABSpecs.Address">
                    <customtextfield customfield="ABSpecs.Address" hidesuffix="true"></customtextfield>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-show="ABSpecs.Address1">
                    <customtextfield customfield="ABSpecs.Address1" hidesuffix="true"></customtextfield>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <customtextfield customfield="ABSpecs.City" hidesuffix="true"></customtextfield>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <customselectionfield customfield="ABSpecs.State"></customselectionfield>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <customtextfield customfield="ABSpecs.Zip"></customtextfield>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">-->
                    <!--<customtextfield customfield="ABSpecs.Email"></customtextfield>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-show="ABSpecs.State.Value == 'AR' || ABSpecs.State.Value == 'CA' || ABSpecs.State.Value == 'MN'">
                    <customtextfield customfield="ABSpecs.LicenseNumber"></customtextfield>
                </div>
            </div>
        </div>
    </div>
</section>