<div class="panel-body">
    <strong>Q.</strong>&nbsp;&nbsp;<strong>What types of credit cards do you accept?</strong><br />
    A.&nbsp; VISA, Mastercard, American Express<br />
    &nbsp;<br />
    <strong>Q. &nbsp;What is your Return Policy?</strong><br />
    A.&nbsp; We will accept merchandise returns on unused merchandise within 30 days of your purchase date.&nbsp; A full refund will be applied minus shipping and handling charges.&nbsp; Please note that we are unable to accept returns or exchanges on made to order garments.&nbsp;<br />
    <br />
    If your order was damaged in transit, please call Allianz customer care (855-737-7017) immediately. &nbsp;UPS will need to inspect the shipment and its packaging and a claim will be submitted. &nbsp;Items may be returned to:<br />
    Questar Capital Returns<br />
    Quality Resource Group<br />
    12795 16<sup>th</sup>&nbsp;Avenue North<br />
    Plymouth, MN 55441<br />
    &nbsp;<br />
    <strong>Q. &nbsp;How can I cancel my order?</strong><br />
    A. &nbsp;Please call us at (855-737-7017) to cancel your order prior to shipping.&nbsp; We are unable to cancel orders that have already shipped. &nbsp;<br />
    &nbsp;<br />
    <strong>Q. &nbsp;Can I add/change/remove items to my order?</strong><br />
    A. &nbsp;We cannot alter an order in any way after it has been submitted. &nbsp;Your order must first be cancelled and a new order submitted if changes are required.<br />
    &nbsp;<br />
    <strong>Q. &nbsp;What shipping methods do you offer?</strong><br />
    A. &nbsp;All shipments are sent via UPS.&nbsp; Shipping times are based on business days, Monday - Friday. &nbsp;Weekend days are not included as shipping days.&nbsp; We also offer Free Shipping Fridays to corporate headquarters.&nbsp; In order to take advantage of this feature be sure to select Free Friday shipping to corporate during checkout.&nbsp; Orders placed ahead of the 12:00 PM Thursday cut off, will deliver on Friday of that week.<br />
    &nbsp;<br />
    <strong>Q. &nbsp;How long will it take to receive my order?</strong><br />
    A. &nbsp;Orders placed by 2:00 PM will ship the same day.&nbsp; Orders placed after 2:00 PM will ship the next business day for all in stock items.&nbsp; UPS transit times will vary.&nbsp; Shipments are FOB MN.&nbsp;<br />
    &nbsp;<br />
    <strong>Q. &nbsp;Can I expedite my shipment?</strong><br />
    A. You may expedite your shipment in the check-out page for higher fees.&nbsp; Please note that time in transit is calculated with weekdays only. &nbsp;Saturday and Sunday are not included in shipping day calculations.<br />
    <br />
    <strong>Q. Who do I contact if I have questions regarding my order.</strong><br />
    A. &nbsp; Please call us at (855-737-7017) if you have questions regarding your order.<br />
    <br />
    <strong>Q. &nbsp;What will you do with my email address?</strong><br />
    A. &nbsp;We will send an order confirmation to the email address provided. &nbsp;We do not rent, sell or share your email address.<br />
    &nbsp;&nbsp;<br />
    <strong>Q. &nbsp;How long will it take for out of stock items to be restocked?</strong><br />
    A. &nbsp;Each item varies as to when quantities will be restocked. &nbsp;Please check back daily as stock is replenished each day.&nbsp;<br />
    &nbsp;<br />
    &nbsp;<strong>Q. What if I would like to place an order for an item that is not featured on the website?</strong><br />
    A. Please email us at <a href="mailto:Questar@quality-resource.com">Questar@quality-resource.com</a> or contact Emily Dunnigan directly at 763-398-6405 or <a href="mailto:emily.dunnigan@quality-resource.com">emily.dunnigan@quality-resource.com</a>.&nbsp;
</div> 