<div class="panel-body">
    <span style="font-size:16px;">
        <span style="font-family:arial,helvetica,sans-serif;">
            <strong>Welcome [[FirstName]] [[LastName]]</strong>
            <br /><br />
                <span style="font-size:14px;">Questions:Contact Customer care (855-737-7017)&nbsp;or&nbsp;
                    <a href="mailto:ShopQuestar@quality-resource.com" style="font-size: 14px;font-family: arial, helvetica, sans-serif;">Questar Support</a>
                </span>
        </span>
    </span>
</div>